extends ../layout

block content
  .row.justify-content-center
    .col-md-6.col-lg-4
      .card.shadow
        .card-header.bg-primary.text-white.text-center
          h4
            i.bi.bi-person-lock.me-2
            | Connexion
        .card-body
          if error
            .alert.alert-danger= error
          
          form(action="/auth/login", method="POST")
            .mb-3
              label.form-label(for="username") Nom d'utilisateur
              input.form-control#username(type="text", name="username", required)
            
            .mb-3
              label.form-label(for="password") Mot de passe
              input.form-control#password(type="password", name="password", required)
            
            .d-grid
              button.btn.btn-primary(type="submit")
                i.bi.bi-box-arrow-in-right.me-2
                | Se connecter
        
        .card-footer.text-center.text-muted
          small Utilisez vos identifiants pour accéder à l'application
